apiVersion: v1
kind: Service
metadata:
  name: clickhouse
  namespace: storage
  labels:
    app: clickhouse
spec:
  type: ClusterIP
  ports:
    - port: 8123
      targetPort: 8123
      name: http
    - port: 9000
      targetPort: 9000
      name: native
  selector:
    app: clickhouse

---
apiVersion: v1
kind: Service
metadata:
  name: clickhouse-external
  namespace: storage
  labels:
    app: clickhouse
spec:
  type: NodePort
  ports:
    - port: 8123
      targetPort: 8123
      nodePort: 30812
      name: http
    - port: 9000
      targetPort: 9000
      nodePort: 30909
      name: native
  selector:
    app: clickhouse

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: clickhouse
  namespace: storage
  labels:
    app: clickhouse
spec:
  replicas: 1
  selector:
    matchLabels:
      app: clickhouse
  template:
    metadata:
      labels:
        app: clickhouse
    spec:
      containers:
      - name: clickhouse
        image: clickhouse/clickhouse-server:latest
        ports:
        - containerPort: 8123
          name: http
        - containerPort: 9000
          name: native
        env:
        - name: CLICKHOUSE_DB
          value: "default"
        - name: CLICKHOUSE_USER
          value: "default"
        - name: CLICKHOUSE_PASSWORD
          value: "backtoeng"
        volumeMounts:
        - name: clickhouse-storage
          mountPath: /var/lib/clickhouse
        resources:
          requests:
            memory: "512Mi"
            cpu: "200m"
          limits:
            memory: "2Gi"
            cpu: "1000m"
      volumes:
      - name: clickhouse-storage
        emptyDir: {}

