apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-provisioning
  namespace: monitoring
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus.monitoring.svc.cluster.local:9090
        isDefault: true
        editable: true
      - name: ClickHouse
        type: vertamedia-clickhouse-datasource
        access: proxy
        url: http://clickhouse.storage.svc.cluster.local:8123
        isDefault: false
        editable: true
        jsonData:
          defaultDatabase: logs
          port: 8123
          server: clickhouse.storage.svc.cluster.local
          username: default
          password: ""

