apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-provisioning
  namespace: monitoring
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus.monitoring.svc.cluster.local:9090
        isDefault: false
        editable: true
      - name: ClickHouse
        uid: clickhouse
        type: grafana-clickhouse-datasource
        access: proxy
        isDefault: true
        editable: true
        jsonData:
          defaultDatabase: logs
          protocol: http
          server: clickhouse.storage.svc.cluster.local
          port: 8123
          username: default
        secureJsonData:
          password: "backtoeng"

