apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: spark-gold-checkpoint-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp2
  resources:
    requests:
      storage: 10Gi
